<head>
    <style> body { margin: 0; } </style>
  
    <script src="force-graph.min.js"></script>
  </head>
  
  <body>
    <form action="/featmap" method="get">
      <p>Paste link to artist or their spotify URI</p>
      https://open.spotify.com/artist/0Wi2fADbhwXlPUWxBmzo99?si=85a1719cac0c4afd <br>
      spotify:artist:0Wi2fADbhwXlPUWxBmzo99
      <p>
        <input type="text" name="artist" placeholder="cmon">
      </p>
      <p>
        <input type="submit" value="( ノ ^o^)ノ">
      </p>
    </form>

    <form action="/tmp">
      <input type="submit" value="̿'̿'\̵͇̿̿\з=( ͠° ͟ʖ ͡°)=ε/̵͇̿̿/'̿̿ ̿ ̿ ̿ ̿ ̿">
    </form>
  </body>
  