<head>
    <style> body { margin: 0; } </style>
  
    <script src="force-graph.min.js"></script>
    <!--<script src="../../dist/force-graph.js"></script>-->
  </head>
  
  <body>
    <div id="graph"></div>
  
    <script>
      fetch('/gimmedata', {method: 'POST'}).then(res => res.json()).then(data => {
        const Graph = ForceGraph()
        (document.getElementById('graph'))
          .graphData(data)
          .nodeId('id')
          .nodeVal('val')
          .nodeLabel('id')
          // .linkAutoColorBy('color')
          .nodeAutoColorBy('group')
          .linkSource('source')
          .linkTarget('target')
      });
    </script>
  </body>